<h1><%= @supermarket.name %></h1>

<p>
  Customers that have shopped here: 
  <% @supermarket.all_customers.each do |customer| %>
    <%= customer == @supermarket.all_customers.last ? "#{customer}" : "#{customer}, " %> 
  <% end %>
</p>