<h1> Items </h1>
<ul>
<% @items.each do |item| %>
  <li>
    Name: <%= item.name %>
    Price: <%= item.price %>
    Supermarket: <%= item.supermarket.name %>
    Customers Count that bought the item: <%= item.customers.count %>
  </li>
<% end %>
</ul>